@import "tailwindcss";

:root {
  /* Un gris casi negro (Slate 950) es más elegante que el negro puro */
  --background: #020617; 
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}


